
dist
.solid
.output
.vinxi
.amplify-hosting
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# latex intermetiates
*.dvi
*.log
*.fls
*.pdf
*.fdb_latexmk
*.aux
**/.auctex-auto/

# sst
.sst
