@font-face {
  font-family: "varela-round";
  src: url("/resources/fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/resources/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/resources/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/resources/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/resources/fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "rubik";
  src: url("/resources/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/resources/fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "rubik";
  src: url("/resources/fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/resources/fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: #000c18;
  color: #bbb;
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 40rem;
  margin: auto;
}

header {
  width: fit-content;
  margin: auto;
}

#breadcrumb {
  min-width: 40rem;
  width: fit-content;
  font-size: 1.5rem;
}

img {
  max-width: 40rem;
}

a {
  text-decoration: none;
  color: oklch(80% 0.2 270);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: oklch(80% 0.2 310);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "varela-round", sans-serif;
  color: white;
}

h1 {
  font-weight: 400;
}

h3 {
  font-weight: 600;
  margin: 0.8em 0;
}
